---
import { Icon } from "astro-icon";

// components
import NavLink from "@components/Nav/NavLink.astro";
import { type navDropdownItem } from "@config/navData.json";

interface Props {
  navItem: navDropdownItem;
}

const { navItem } = Astro.props as Props;
---

<!-- non-mobile dropdown menu -->
<div class="nav__dropdown group relative">
  <button
    class="primary-focus nav__dropdown-button hidden w-full items-center gap-1 px-4 py-1 text-base-900 transition hover:text-base-700 dark:text-base-200/90 dark:hover:text-base-50 md:flex"
    type="button"
    id={`${navItem.text} dropdown menu`}
    aria-expanded="false"
    aria-haspopup="true"
    aria-controls={`${navItem.text} dropdown menu content`}
  >
    {navItem.text}
    <Icon
      name="tabler:chevron-down"
      aria-hidden="true"
      class="nav__dropdown-chevron h-5 w-5 shrink-0 transition-transform"
    />
  </button>
  <div
    id={`${navItem.text} dropdown menu content`}
    aria-labelledby={`${navItem.text} dropdown menu`}
    class="nav__dropdown-content invisible absolute right-0 z-10 opacity-0 transition-all"
  >
    <ul
      class="mt-2 w-fit min-w-[150px] max-w-xs whitespace-nowrap rounded-md border border-solid border-base-400/60 bg-base-100 drop-shadow-md dark:border-base-300 dark:border-base-600/60 dark:bg-base-800"
    >
      {
        navItem.dropdown.map((dropdownItem) => (
          <NavLink navItem={dropdownItem} class="w-full" />
        ))
      }
    </ul>
  </div>
</div>

<script>
  function dropdownToggleSetup() {
    const dropdownMenus = document.querySelectorAll(".nav__dropdown");
    dropdownMenus.forEach((dropdownMenu) => {
      const dropdownButton = dropdownMenu.querySelector(
        ".nav__dropdown-button",
      );
      const dropdownChevron = dropdownMenu.querySelector(
        ".nav__dropdown-chevron",
      );
      const dropdownContent = dropdownMenu.querySelector(
        ".nav__dropdown-content",
      );
      if (dropdownButton && dropdownContent && dropdownChevron) {
        dropdownButton.addEventListener("click", (event) => {
          if (!dropdownMenu.classList.contains("active")) {
            // if dropdown is currently closed, so open it
            dropdownMenu.classList.add("active");
            dropdownButton.setAttribute("aria-expanded", "true");
            dropdownContent.classList.add("dropdown--fade-in");
            dropdownChevron.classList.add("rotate-180");
          } else {
            // dropdown is currently open, so close it
            dropdownMenu.classList.remove("active");
            dropdownButton.setAttribute("aria-expanded", "false");
            dropdownContent.classList.remove("dropdown--fade-in");
            dropdownChevron.classList.remove("rotate-180");
          }
          event.preventDefault();
          return false;
        });
      }
    });
  }

  // runs on initial page load
  dropdownToggleSetup();

  // runs on view transitions navigation
  document.addEventListener("astro:after-swap", dropdownToggleSetup);
</script>

<style lang="scss">
  .dropdown--fade-in {
    animation: navDropdownFadeInAnimation ease-out 0.15s forwards;
    @apply visible opacity-100;
  }

  @keyframes navDropdownFadeInAnimation {
    0% {
      @apply top-[90%];
    }
    100% {
      @apply top-full;
    }
  }
</style>
