---
/**
 * * pricing section table with toggle for monthly or yearly payments
 * This is designed for 3 pricing plans
 */

import { Icon } from "astro-icon";

// components
import Button from "@components/Button/Button.astro";

interface planInfo {
  name: string; // plan name
  description: string; // plan description
  featured?: boolean; // if true, will be highlighted or otherwise featured
  price: {
    monthly: number; // monthly price if paid by month
    yearly: number; // monthly price if paid by year
  };
}
/*
 * feature rows can either be true / false to show if the feature is included in the plan
 * But you can also put a string there to show a custom message
 * ex. if only plan 3 includes this feature, looks like [false, false, true]
 * ex. if plans have different number of users, looks like ["1 user", "Up to 5 users", "Up to 20 users"]
 */
interface featureRow {
  feature: string; // feature name
  plans: (boolean | string)[];
}
// Features are grouped into sections
interface featureGrouping {
  title: string;
  features: featureRow[];
}

interface pricingTable {
  plans: planInfo[];
  featureTable: featureGrouping[];
}

// This is designed for 3 pricing plans
const pricingData: pricingTable = {
  plans: [
    {
      name: "Basic",
      description: "For small businesses",
      price: {
        monthly: 11,
        yearly: 9,
      },
    },
    {
      name: "Professional",
      description: "For growing businesses",
      featured: true,
      price: {
        monthly: 59,
        yearly: 49,
      },
    },
    {
      name: "Enterprise",
      description: "For next level companies",
      price: {
        monthly: 119,
        yearly: 99,
      },
    },
  ],
  featureTable: [
    {
      title: "Features",
      features: [
        {
          feature: "Integrations",
          plans: [true, true, true],
        },
        {
          feature: "Connect to your database",
          plans: [true, true, true],
        },
        {
          feature: "Import and export data",
          plans: [false, true, true],
        },
        {
          feature: "Team members",
          plans: [false, "Up to 5 users", "Up to 20 users"],
        },
        {
          feature: "Data Storage",
          plans: ["Up to 5 GB", "Up to 50 GB", "Unlimited"],
        },
      ],
    },
    {
      title: "Reporting",
      features: [
        {
          feature: "Basic reports",
          plans: [true, true, true],
        },
        {
          feature: "Advanced analytics",
          plans: [false, true, true],
        },
        {
          feature: "Professional reports",
          plans: [false, true, true],
        },
        {
          feature: "Custom reports",
          plans: [false, false, true],
        },
      ],
    },
    {
      title: "Support",
      features: [
        {
          feature: "Email support",
          plans: [true, true, true],
        },
        {
          feature: "Priority support",
          plans: [false, true, true],
        },
        {
          feature: "White-glove onboarding",
          plans: [false, false, true],
        },
      ],
    },
  ],
};
---

<section id="pricing" class="my-24 overflow-hidden md:my-36">
  <div class="relative mx-auto max-w-7xl px-4">
    <div class="flex justify-center">
      <p class="colored-title inline">Pricing</p>
    </div>
    <h2 class="h2 mt-8 text-center">A plan for every business</h2>

    <!-- Toggle switch for monthly or yearly pricing -->
    <div class="mt-6 flex justify-center">
      <label
        for="pricing-plan__toggle"
        class="relative inline-flex cursor-pointer select-none items-center"
      >
        <input
          type="checkbox"
          name="pricing-plan__toggle"
          id="pricing-plan__toggle"
          class="pricing-plan__toggle sr-only"
          aria-label="Toggle between monthly and yearly pricing"
        />
        <span class="label flex items-center text-sm">Monthly</span>
        <span
          class="pricing-plan__slider mx-4 flex h-7 w-[56px] items-center rounded-full border border-base-300 bg-base-100 p-1 duration-200 dark:border-base-600/60 dark:bg-base-800"
        >
          <span
            class="pricing-plan__dot h-5 w-5 rounded-full bg-base-800 duration-200 dark:bg-base-100"
          ></span>
        </span>
        <span class="label flex items-center text-sm">Yearly</span>
      </label>
    </div>

    <!-- This is designed for 3 pricing plans -->
    <div class="mx-auto mt-12 grid w-full grid-cols-3 lg:grid-cols-4">
      <!-- pricing plan top info -->
      <div class="col-span-3 grid gap-3 md:grid-cols-3 lg:col-start-2 lg:gap-0">
        {
          pricingData.plans.map((plan, planIdx) => (
            // pricing cards
            <div
              class="pricing-plan relative mx-auto h-full w-full max-w-sm overflow-hidden rounded-2xl lg:rounded-b-none"
              class:list={[
                {
                  "bg-gradient-to-br from-primary-400 to-base-300 to-40% dark:from-primary-500 dark:to-base-600/60":
                    plan.featured === true,
                },
              ]}
            >
              <div class="relative h-full p-px lg:pb-0">
                <div
                  class="relative z-10 flex h-full flex-col overflow-hidden rounded-[calc(1rem-1px)] lg:rounded-b-none"
                  class:list={[
                    {
                      "bg-primary-100 dark:bg-base-800": plan.featured === true,
                    },
                  ]}
                >
                  {plan.featured === true && (
                    // inside card glow for featured
                    <div
                      class="absolute left-0 top-0 -z-10 mx-auto aspect-square w-[80%] -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-300/40 blur-3xl dark:bg-primary-600/20"
                      aria-hidden="true"
                    />
                  )}
                  <div class="mx-auto flex h-full w-full max-w-[20rem] flex-col px-6 pb-6">
                    <div class="flex w-full justify-between pt-6">
                      <h3
                        class:list={[
                          "text-lg font-semibold",
                          {
                            "main-text-gradient": plan.featured === true,
                          },
                        ]}
                      >
                        {plan.name}
                      </h3>
                      {plan.featured === true && (
                        // featured tag
                        <div class="flex w-full items-center justify-end">
                          <div class="flex gap-2 rounded-full bg-primary-600 px-3 py-1 text-sm text-base-100">
                            <p class="flex items-center whitespace-nowrap">
                              Popular
                            </p>
                          </div>
                        </div>
                      )}
                    </div>
                    <div class="pt-3">
                      <p class="opacity-90 dark:opacity-80">
                        {plan.description}
                      </p>
                      <p class="mt-3 font-semibold">
                        <div class="pricing-plan__monthly-price">
                          <span class="text-5xl font-semibold text-primary-600 dark:text-primary-400">
                            ${plan.price.monthly}
                          </span>
                          <span class="text-3xl">/mo</span>
                          <br />
                          <p class="mt-1 text-sm font-normal opacity-70">
                            (paid monthly)
                          </p>
                        </div>
                        <div class="pricing-plan__yearly-price hidden">
                          <span class="text-5xl font-semibold text-primary-600 dark:text-primary-400">
                            ${plan.price.yearly}
                          </span>
                          <span class="text-3xl">/mo</span>
                          <br />
                          <p class="mt-1 text-sm font-normal opacity-70">
                            (paid yearly)
                          </p>
                        </div>
                      </p>
                    </div>
                    <ul class="mt-6 flex w-full flex-col gap-2 lg:sr-only">
                      {pricingData.featureTable.map((featureGroup) =>
                        // features inside cards for mobile views
                        featureGroup.features.map(
                          (featureRow) =>
                            featureRow.plans[planIdx] !== false && (
                              <li
                                class:list={[
                                  "flex items-start",
                                  {
                                    "opacity-90": plan.featured !== true,
                                  },
                                ]}
                              >
                                <Icon
                                  name="tabler:check"
                                  class="mt-0.5 h-5 w-5 shrink-0 text-primary-600 dark:text-primary-400"
                                  aria-hidden="true"
                                />
                                <span class="ml-2 inline">
                                  {featureRow.feature}
                                  <span>
                                    {
                                      // if the feature row has a string, show it
                                      typeof featureRow.plans[planIdx] ===
                                        "string" && (
                                        <span class="ml-1 text-sm text-base-700 dark:text-base-300">
                                          ({featureRow.plans[planIdx]})
                                        </span>
                                      )
                                    }
                                  </span>
                                </span>
                              </li>
                            ),
                        ),
                      )}
                    </ul>
                    <div class="mt-auto">
                      <Button
                        variant={plan.featured === true ? "primary" : "outline"}
                        href="/signup/"
                        class="mt-6"
                      >
                        Get Started
                      </Button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>

      <!-- feature rows for desktop -->
      <div class="col-span-4 hidden lg:block">
        {
          // loop over feature groups
          pricingData.featureTable.map((featureGroup) => (
            <div>
              <div class="grid grid-cols-4 border-b border-base-600/40 text-lg">
                <p class="pb-2 pt-8 font-semibold">{featureGroup.title}</p>
                {pricingData.plans.map((plan, planIdx) => (
                  <div
                    class={`${
                      plan.featured === true
                        ? "border-x border-base-300 bg-primary-100 dark:border-base-600/60 dark:bg-base-800"
                        : ""
                    }`}
                  />
                ))}
              </div>
              {featureGroup.features.map((feature) => (
                // each feature group has feature name, and data for each plan to display in the row
                <div class="grid grid-cols-4 border-b border-base-600/40">
                  <p class="py-2 opacity-90 dark:opacity-80">
                    {feature.feature}
                  </p>
                  {feature.plans.map((plan, planIdx) => (
                    <div
                      class="flex items-center justify-center py-2"
                      class:list={[
                        {
                          "border-x border-base-300 bg-primary-100 dark:border-base-600/60 dark:bg-base-800":
                            pricingData.plans[planIdx].featured,
                        },
                      ]}
                    >
                      {
                        // if the feature row has a string, show it
                        typeof feature.plans[planIdx] === "string" ? (
                          <span
                            class={
                              pricingData.plans[planIdx].featured === true
                                ? ""
                                : "opacity-90 dark:opacity-80"
                            }
                          >
                            {feature.plans[planIdx]}
                          </span>
                        ) : // otherwise show a checkmark if true, or a dash icon if false
                        plan === false ? (
                          <Icon
                            name="tabler:minus"
                            class={`h-5 w-5 shrink-0 opacity-90 dark:opacity-80`}
                            aria-hidden="true"
                          />
                        ) : (
                          <Icon
                            name="tabler:check"
                            class={`h-5 w-5 shrink-0 text-primary-600 dark:text-primary-400 ${
                              pricingData.plans[planIdx].featured === true
                                ? ""
                                : "opcaity-90 dark:opacity-80"
                            }`}
                            aria-hidden="true"
                          />
                        )
                      }
                    </div>
                  ))}
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  function pricingPlanToggleSetup() {
    // toggle between monthly and yearly pricing
    const pricingToggle = document.querySelector(
      ".pricing-plan__toggle",
    ) as HTMLInputElement;

    const pricingToggleSlider = document.querySelector(
      ".pricing-plan__slider",
    ) as HTMLInputElement;

    const pricingToggleDot = document.querySelector(
      ".pricing-plan__dot",
    ) as HTMLInputElement;

    // each pricing plan has a monthly price and a yearly price
    const pricingPlans = document.querySelectorAll(
      ".pricing-plan",
    ) as NodeListOf<HTMLElement>;

    // each plan has monthly and yearly price
    pricingPlans.forEach((pricingPlan) => {
      const monthlyPrice = pricingPlan.querySelector(
        ".pricing-plan__monthly-price",
      ) as HTMLElement;

      const yearlyPrice = pricingPlan.querySelector(
        ".pricing-plan__yearly-price",
      ) as HTMLElement;

      if (
        pricingToggle &&
        pricingToggleDot &&
        pricingToggleSlider &&
        monthlyPrice &&
        yearlyPrice
      ) {
        pricingToggle.addEventListener("change", (event) => {
          if (pricingToggle.checked) {
            // if checked, then yearly price
            monthlyPrice.classList.add("hidden");
            yearlyPrice.classList.remove("hidden");
            pricingToggleDot.classList.add("translate-x-[26px]");
            pricingToggleSlider.classList.add("border-primary-400");
            pricingToggleSlider.classList.add("dark:border-primary-600");
          } else {
            // if unchecked, then monthly price
            monthlyPrice.classList.remove("hidden");
            yearlyPrice.classList.add("hidden");
            pricingToggleDot.classList.remove("translate-x-[26px]");
            pricingToggleSlider.classList.remove("border-primary-400");
            pricingToggleSlider.classList.remove("dark:border-primary-600");
          }
        });
      }
    });
  }

  // runs on initial page load
  pricingPlanToggleSetup();

  // runs on view transitions navigation
  document.addEventListener("astro:after-swap", pricingPlanToggleSetup);
</script>
