---
import { type CollectionEntry } from "astro:content";

// component imports
import BaseHead from "@layouts/BaseHead.astro";
import Nav from "@components/Nav/Nav.astro";
import Footer from "@components/Footer/Footer.astro";
import CookieConsent from "@components/CookieConsent/CookieConsent.astro";

// style import
import "@/styles/global.scss";

// data
import siteData from "@config/siteData.json";

// heroImage and authorData are defined on blog posts
// authorData could also be defined on the about author page
interface Props {
  type?: "blog" | "general";
  title: string;
  description: string;
  heroImage?: ImageMetadata;
  authorsData?: CollectionEntry<"authors">[];
  postFrontmatter?: CollectionEntry<"blog">["data"];
  noindex?: boolean; // you need to opt-in to no indexing, as it hides the page from search engines
}

const {
  type = "general",
  title,
  description,
  heroImage,
  authorsData,
  postFrontmatter,
  noindex = false,
} = Astro.props as Props;

// todo: This doesn't need to be here, I just don't know how to print the `id` into HTML source.
//       ...could use `<script is:inline define:vars={{gtmId}}>`
//       Not sure it's good in a JS variable occupying the memory/stack and risking override.
//       as opposed to just printed to HTML.
const gtmIframeSrc = "https://www.googletagmanager.com/ns.html?id=" + siteData.analytics.gtm.id;
---

<!doctype html>
<html
  lang="en"
  class={`dark ${siteData.useAnimations === true ? "use-animations" : ""}`}
>
  <head>
    <BaseHead
      type={type}
      title={title}
      description={description}
      image={heroImage ? heroImage : undefined}
      authors={authorsData ? authorsData : undefined}
      postFrontmatter={postFrontmatter ? postFrontmatter : undefined}
      noindex={noindex}
    />
  </head>
  <body
    id="body"
    class="bg-base-100 text-base-900 dark:bg-base-900 dark:text-base-100"
  >
    <!-- put cookie consent first so it is seen first by screen readers -->
    <!-- <CookieConsent /> -->

    <!-- Google Tag Manager (noscript) (part2, see part1 in `BaseHead.astro`) -->
    <noscript>
      <iframe src={gtmIframeSrc}>
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- MAIN -->
    <div class="">
      <Nav />
      <main class="">
        <slot />
      </main>
    </div>
    <!-- /MAIN end -->

    <!-- FOOTER -->
    <Footer />
    <!-- /FOOTER end -->

    <!-- Scroll animations -->
    <script>
      import siteData from "@config/siteData.json";
      import AOS from "@js/aos/aos";

      if (siteData.useAnimations === true) {
        // runs on initial page load
        AOS.init();

        // runs on view transitions navigation
        document.addEventListener("astro:after-swap", AOS.refreshHard);
      }
    </script>
  </body>
</html>
